@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full;
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #fffbf5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif, "Playfair Display",
    cursive;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdced4; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b2b4bd; 
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #674188;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
}

.framerMotion {
  animation: framerMotion 3s;
}
.framerMotion2 {
  animation: framerMotion 0.5s;
}
.glamour {
}
/* :root {
  --swiper-navigation-color: white;
  left: 50vw;
} */
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    border-radius: 10px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}
.swiper-button-next{
   top: 50vh !important;
   left: 45vw !important;
}
.swiper-button-prev{
  top: 50vh !important;
  left: 11vw !important;
}
.leavesContainer {
  background: radial-gradient(#333, #000);
  overflow: hidden;
}
.leavesBox {
  position: absolute;
  display: block;
}
.leavesBox:nth-child(1) {
  left: 20%;
  animation: animateLeave 15s linear infinite;
  animation-delay: -7s;
}
.leavesBox:nth-child(2) {
  left: 50%;
  animation: animateLeave 15s linear infinite;
  animation-delay: -5s;
}
.leavesBox:nth-child(3) {
  left: 70%;
  animation: animateLeave 20s linear infinite;
  animation-delay: 0s;
}
.leavesBox:nth-child(4) {
  left: 0%;
  animation: animateLeave 15s linear infinite;
  animation-delay: -5s;
}
.leavesBox:nth-child(5) {
  left: 85%;
  animation: animateLeave 18s linear infinite;
  animation-delay: -10s;
}
.leavesBox:nth-child(6) {
  left: 0%;
  animation: animateLeave 12s linear infinite;
}
.leavesBox:nth-child(7) {
  left: 15%;
  animation: animateLeave 14s linear infinite;
}
.leavesBox:nth-child(8) {
  left: 60%;
  animation: animateLeave 15s linear infinite;
}
@keyframes framerMotion {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes animateLeave {
  0% {
    opacity: 0;
    top: -10%;
    transform: translteX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translteX(-20px) rotate(45deg);
  }
  40% {
    transform: translteX(-20px) rotate(90deg);
  }
  60% {
    transform: translteX(20px) rotate(180deg);
  }
  80% {
    transform: translteX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translteX(-20px) rotate(225deg);
  }
}
.entrance{
  animation: entranceAnimate 2s;
}
@keyframes entranceAnimate {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bounceImg {
  animation: float 2.5s infinite;
}
@keyframes float {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

